img{
    width: 100%;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(238, 236, 233);
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
@media screen and (max-width:100rem){
nav {
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60px;
    width: auto;
    background-color: #c8dbdb;
    
   
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 3px 20px;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
   
  }
  
  nav ul li {
    padding: 10px 0;
    cursor: pointer;
  
  }
  
  nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
  }
  
  nav ul li.items:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #8a8d8d;
    opacity: 0;
    transition: all 0.2s linear;
  }
  
  nav ul li.items:hover {
    opacity: 1;
    bottom: 2px;
    border-radius: 5px;
    box-shadow: inset 0 0 3px #8a8d8d;
    box-shadow: inset 0 0 5px #161616;
  }
  
  nav ul li {
    flex: 1;
    color: black;
    font-size: 32px;
    font-weight: 600;
    cursor: default;
    user-select: none;
  }
  
  nav ul li a {
    color: black;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    transition: .4s;
  }
  
  nav ul li:hover a {
    color: #8a8d8d;
  
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;  
    min-height: 100vh; /*AJUSTE RESPONSIVIDADE*/
    min-width: 100vw; 

   
  }
}
#inicio{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#inicio > .container{
    align-items: center;
   
}

#inicio .container-inicio{
    background-color: #c8dbdb;
    box-shadow: black;
    color: #fff;
    font-style:initial;
   width: 600px;
   padding: 10px;
   -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
    box-shadow: 15px -10px 3px #000;
   -webkit-box-shadow: 15px -10px 3px #000;
   -moz-box-shadow: 15px -10px 3px #000;
   }

.imagem-inicio{
    height:80%;
}

.container{
    max-width: 1300px;
    width: 100%;
    display: flex;
  
}

#informacao-da-pagina{
    display: flex;
    justify-content: center;
    background-color:rgb(238, 236, 233);
    margin-top: 20px;
    min-height: 10vh; /*AJUSTE RESPONSIVIDADE*/
    min-width: 50vw;
}

#informacao-da-pagina .informacao-content{
    display: grid;
    width: 50%;
    grid-gap: 5px;
    margin-right: 20px;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50% 50%;
    width: 400px;
    background-color: #c8dbdb;
    color: #fff;
    font-style:initial;
    align-items: center;
    
}

#informacao-da-pagina .img-content{
    width:35rem;
}

#pessoas{
    display: flex;
    justify-content: center;
}

#pessoas > .container{
    flex-direction: column;
}


#pessoas .text-content{
    text-align: center;
}

#pessoas .usuarios-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#pessoas .usuarios-content > div{
    margin: 0px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pessoas .usuarios-content > div img{
    display: block;
}

#pessoas .usuarios-content div.usuario-image{
    width: 80%;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    
}

  
  footer {
    text-align: center;
    padding: 10px;
    background-color:#c8dbdb;
    color: #FFFFFF;
    min-height: 20vh; /*AJUSTE RESPONSIVIDADE*/
    min-width: 100vw;
  }
  
  footer a {
    text-decoration: none;
    color: #6F6F73;
  }
  